@model IEnumerable<NetPress.Models.Articles>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewData["SessionData"] != null)
{
    <p>
        <a asp-action="Create">Create New Article</a>
    </p>
}

<div class="table">
    @foreach (var item in Model)
    {
        @if (item.Status == "Publish")
        {
    <h2>
       @Html.DisplayFor(modelItem => item.Title)
    </h2>
           
    <table class="table">

       
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>

        </tr>
        <tr>
            <td>
                Last Modified: @Html.DisplayFor(modelItem => item.LastModified)
            </td>

        </tr>
        <tr>


            @if (ViewData["SessionData"] != null)
            {
                if (ViewData["AuthorId"].ToString() == item.AuthorId.ToString())
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            }
        </tr>
    </table>
           
               
                <br />

                

          

        }
    }
    <br />

</div>
